<div class = "footer">
	<!-- <img src="assets/blue_mountains" class="hero_img" %> -->
	<div class = "container">
			<div class="row  offset-by-five eight columns">
			
				
				<p>&copy 2021 Limitless Minds</p>
				
			</div>
	</div>
</div>