<div class = "hero">
	<!-- <img src="assets/blue_mountains" class="hero_img" %> -->
	<div class = "container">
			<div class="row hero-message offset-by-five eight columns">
			
				<h2 class="hero-title">If you want to go further, you'll need to think bigger.</h2>
				<p>Download our app today to learn from some of the top mindset experts!</p>
				<div>
					<%= link_to 'Download the App',  download_path, class: "button" %>
				 
	
			</div>
			</div>
	</div>
</div>