<%= render 'hero' %>
<%= render 'footer' %>
<section class ="marketing"></section>
<section class="cta_stripe"></section>
<section class="testimonials"></section>
<section class="footer"></section>
<section class="container"></section>